<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>An Error Occurred</title>

    <link rel="stylesheet" href="/reset.css" />
  </head>
  <body>
    <h1>An Error Occurred</h1>
    <p><a href="/">Go to Home</a></p>
  </body>
</html>
