<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Home</title>
    <link rel="stylesheet" href="/reset.css" />
  </head>
  <body>
    <div>
      <h1>Home</h1>
      <p><%= homeViewModel.email %> is logged in</p>
      <hr />
      <p>
        <a href="/my-account/">My Account</a>
      </p>
      <p><a href="/logout/">Logout</a></p>
    </div>
  </body>
</html>
