<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <title>Register</title>
    <link rel="stylesheet" href="/reset.css" />
  </head>
  <body>
    <p><a href="/login/">Login</a></p>
    <h1>Register</h1>
    <% if (locals.registerViewModel.errors) { %>
    <ul>
      <% registerViewModel.errors.forEach(function(error) { %>
      <li><%= error.msg %></li>
      <% }); %>
    </ul>
    <% } %>
    <form method="post" action="/register/">
      <input
        type="hidden"
        name="_csrf"
        value="<%= registerViewModel.csrfToken %>"
      />
      <p>
        <label>Email:</label>
        <input
          required
          type="email"
          name="email"
          value="<%= locals.registerViewModel.email ? registerViewModel.email : '' %>"
        />
      </p>
      <p>
        <label>Password:</label>
        <input required type="password" name="password" />
      </p>
      <p>
        <label>Confirm Password:</label>
        <input required type="password" name="confirm_password" />
      </p>
      <p>
        <input type="submit" value="Register" />
      </p>
    </form>
  </body>
</html>
